.task {
    display:flex;
}

.taskBox {
    background: var(--gray-500);
    border: var(--gray-400) 1px solid;
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem;
}

.taskBox svg {
    margin-right: 1rem;
    cursor: pointer;
    color: var(--blue);
}

.taskContent {
    display: flex;
}

.taskContent button svg{
    cursor: pointer;
    color: var(--gray-300);
    margin-left: 1rem;
}

.taskContent button svg:hover {    
    color: var(--danger);
}




