.header {
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
}

.header img{
    height: 1.5rem;
}

.titulo {
    margin-left: 0.25rem;
    font-size: 1rem;
}

.azul {
    color: var(--blue);
}

.roxo {
    color: var(--purple);
}