.taskWrapper{
    flex-direction: column;
}

.taskForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.taskForm textarea{
    flex: 1;
    justify-content: center;
    background: var(--gray-500);
    align-items: center;
    resize: none;
    border-radius: 0.5rem;
    color: var(--gray-300);
    padding: 0.5rem;
    margin-top: 1rem;
}

.taskForm button[type=submit]{
    padding: 1rem 1rem;
    margin: 0.75rem 0 0 0.5rem;
    border-radius: 0.5rem;
    background: var(--blue-dark);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;  
    display: flex;
}


.taskForm button svg {
    padding: 0.1rem 0 0 0.25rem;
}

.taskForm button:hover {
    background: var(--blue);
}


.taskList header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.azul {
    color: var(--blue);
}

.roxo {
    color: var(--purple);
}

.taskList {
    margin-top: 1rem;
    flex: flex;
    justify-content: center;
    align-items: center;
}